body {
  background-color: #f3fff3;
  font-family: Arial, sans-serif;
  padding: 20px;
}

input, button {
  margin: 5px;
  padding: 5px;
}

li {
  margin: 5px 0;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}
